body, html {
    background-image: url(plant.jpg);
    background-size: cover;
    background-position-y: -150px;
}

h1 {
    color: black;
    font-size: 60px;
}

.blurb {
    color: black;
    font-family: 'Acme';
}

.yerpp {
    margin-left: 19vw;
    color: darkgreen;
    font-family: 'Acme';
}

.yerpp:hover span{
    display:none
}

.yerpp:hover:before {
    color: darkcyan;
    content: "(The-lay-sh.)";
    font-family: 'Acme';
}

.main {
    padding-left: 10px;
    padding-top: 4vw;
}

h6 {
    margin-left: 57vw;
    padding-top: 20px;
    opacity: 0.5;
    cursor: progress;
}

.logo {

    margin-left: 142px;
    display: inline-block;

}

#thilash {
    margin-left: 400px;
    
}

.thilash {
    float: left;
    
}
